<div class="container-fluid py-3">
    <div class="row w-100 m-0">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-header bg-white border-0">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h4>Customer Orders</h4>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="d-flex justify-content-end align-items-center">
                                <button class="btn btn-dark mr-1" (click)="openModal(orderModal)">Add
                                    Customer Order</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-flush m-0">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Email</th>
                                <th scope="col">Food Id</th>
                                <th scope="col">Food Ordered</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let order of orders">

                                <th scope="row">{{ order["orderId"] }}</th>
                                <td> {{ order["firstname"] }}</td>
                                <td> {{ order["lastname"] }} </td>
                                <td> {{ order["email"] }} </td>
                                <td> {{ order["foodId"] }} </td>
                                <td> {{ order["foodname"] }} </td>
                                <td> {{ order["quantity"] }}</td>
                                <td> {{ order["totalprice"] }} </td>
                                <td> {{ order["dateorder"] }} </td>

                                <td>
                                    <button type="button" class="btn btn-sm btn-primary"
                                        (click)="openModal(orderModal)">Update Customer Order</button>
                                    &nbsp;&nbsp; <button type="button" class="btn btn-sm btn-warning">Delete
                                        Order</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #orderModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Customer Order {{ 'updation' ? 'Update' : 'Creation' }}</h4>
        <button type="button" class="btn-close" aria-label="Close" id="closeAddNewStaffModal" #closeAddNewStaffModal
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="orderForm" ngNativeValidate>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 ">
                    <div class="form-group m-0 mb-2">
                        <label for="name" class="text-sm">First Name</label>
                        <input type="text" name="customerFirstName" formControlName="customerFirstName"
                            class="form-control" placeholder="firstName" required>
                    </div>
                    <div class="form-group m-0 mb-2">
                        <label for="name" class="text-sm">Last Name</label>
                        <input type="text" name="customerLastName" formControlName="customerLastName"
                            class="form-control" placeholder="lastName" required>
                    </div>
                    <div class="form-group m-0 mb-2">
                        <label for="name" class="text-sm">eMail</label>
                        <input type="text" name="customerEmail" formControlName="customerEmail" class="form-control"
                            placeholder="e@gmail.com" required>
                    </div>
                    <div class="form-group m-0 mb-2">
                        <label for="name" class="text-sm">Food Id</label>
                        <input type="text" name="customerPassword" formControlName="customerPassword"
                            class="form-control" placeholder="" required>
                    </div>
                    <div class="form-group m-0 mb-2">
                        <label for="name" class="text-sm">Food Ordered</label>
                        <input type="text" name="customerPhone" formControlName="customerPhone" class="form-control"
                            placeholder="" required>
                    </div>
                    <div class="form-group m-0 mb-2">
                        <label for="description" class="text-sm">Quantity:</label>
                        <input type="text" name="customerAddress" formControlName="customerAddress" class="form-control"
                            placeholder="address" required>
                    </div>
                    <div class="form-group m-0 mb-2">
                        <label for="city" class="text-sm">Total Price</label>
                        <input type="text" name="customerCity" formControlName="customerCity" class="form-control"
                            placeholder="" required>
                    </div>
                    <div class="form-group m-0 mb-2">
                        <label for="state" class="text-sm">Date Ordered</label>
                        <input type="text" name="customerState" formControlName="customerState" class="form-control"
                            placeholder="" required>
                    </div>

                </div>

                <div class="col-12 px-0">


                    <div class="row mt-3">
                        <div class="col-12 my-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-column">
                                    <p class="m-0 mb-1">


                                    </p>

                                </div>
                                <div class="d-flex align-items-center">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" (click)="modal.dismiss('')">
                Cancel
            </button>
            <button type="submit" class="btn btn-dark btn-sm">
                Save

            </button>
        </div>
    </form>
</ng-template>



<!-- 
<ng-template #orderModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Customer Orders {{ 'updation' ? 'Update' : 'Creation' }}</h4>
        <button type="button" class="btn-close" aria-label="Close" id="closeAddNewStaffModal" #closeAddNewStaffModal
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="orderForm" ngNativeValidate>
        <div class="modal-body">


            <div class="table-responsive">
                <table class="table table-flush m-0">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address</th>
                            <th scope="col">City</th>
                            <th scope="col">State</th>
                            <th scope="col">Zip</th>
                            <th scope="col">Orders</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let order of Orders">

                            <th scope="row">1</th>
                            <td> <input type="text" name="customerLastName" formControlName="customerLastName"
                                    class="form-control" placeholder="lastName" required></td>
                            <td> <input type="text" name="customerLastName" formControlName="customerLastName"
                                    class="form-control" placeholder="lastName" required></td>
                            <td> <input type="text" name="customerLastName" formControlName="customerLastName"
                                    class="form-control" placeholder="lastName" required> </td>
                            <td> <input type="text" name="customerLastName" formControlName="customerLastName"
                                    class="form-control" placeholder="lastName" required></td>
                            <td> <input type="text" name="customerLastName" formControlName="customerLastName"
                                    class="form-control" placeholder="lastName" required> </td>
                            <td> <input type="text" name="customerLastName" formControlName="customerLastName"
                                    class="form-control" placeholder="lastName" required></td>
                            <td> <input type="text" name="customerLastName" formControlName="customerLastName"
                                    class="form-control" placeholder="lastName" required> </td>
                            <td> <input type="text" name="customerLastName" formControlName="customerLastName"
                                    class="form-control" placeholder="lastName" required> </td>
                            <td> {{ cust["zip"] }} </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-dark" (click)="openModal(orderModal)">View
                                    Orders</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary"
                                    (click)="openModal(custModal)">Update Customer</button>
                                &nbsp;&nbsp; <button type="button" class="btn btn-sm btn-warning">Delete
                                    Customer</button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>










            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" (click)="modal.dismiss('')">
                    Cancel
                </button>
                <button type="submit" class="btn btn-dark btn-sm">
                    Save

                </button>
            </div>
        </div>
    </form>

</ng-template> -->